<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.xlc.monkey"> <!-- defaultConfig没有配置minSdkVersion时，就会从AndroidManifest中读取 -->
    <uses-sdk android:minSdkVersion="8"/>
    <!-- <uses-sdk android:targetSdkVersion="27"/> -->
    <!-- 文件写入 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> <!-- android8.0未知来源安装包的安装权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/> <!-- 必须的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/> <!-- 推荐的权限 -->
    <!-- 添加如下权限，以便使用更多的第三方SDK和更精准的统计数据 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> <!-- 读取系统的短信的权限 -->
    <uses-permission android:name="android.permission.READ_SMS"/> <!-- 接收短信权限 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/> <!-- 读取系统的联系人的权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/> <!-- 指纹认证的权限 -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/> <!-- 悬浮窗口权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name=".base.MonkeyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.JsBridgeActivity">
        </activity>
        <activity android:name=".activity.CoordinatorActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.RecyclerActivity">
        </activity> <!-- 设置应用需要的共享库 -->
        <!-- <uses-library -->
        <!-- android:name="com.google.android.maps" -->
        <!-- android:required="true" -->
        <!-- /> -->
        <activity android:name=".activity.FloatViewActivity">
        </activity> <!-- 友盟统计 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5b72b15fb27b0a414a000035"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}"/>

        <activity android:name=".activity.MainActivity">
        </activity> <!-- 监听网络的变化 -->
        <receiver android:name=".net.NetBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver> <!-- 监听短信的接受 -->
        <receiver android:name=".sms.SmsBroadcastReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>

        <activity android:name=".activity.TimeLineActivity">
        </activity>
        <activity android:name=".activity.splash.SplashActivity">
        </activity>
        <activity android:name=".activity.ImageActivity">
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.xlc.monkey.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider> <!-- fitAndroid8 -->
        <!-- <provider android:name="android.support.v4.content.FileProvider" -->
        <!-- android:authorities="${applicationId}.android.fileprovider" -->
        <!-- android:exported="false" -->
        <!-- android:grantUriPermissions="true"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.FILE_PROVIDER_PATHS" -->
        <!-- android:resource="@xml/files_paths"/> -->
        <!-- </provider> -->
        <activity
            android:name=".activity.ScrollingActivity"
            android:label="@string/title_activity_scrolling">
        </activity>
        <activity android:name=".sms.SmsActivity">
        </activity>
        <activity android:name=".activity.rxjava.RxJavaActivity">
        </activity>
        <activity android:name=".avoidonresult.AvoidActivty">
        </activity>
        <activity android:name=".wxapi.WXEntryActivity">
        </activity>
        <activity android:name=".activity.LottieActivity">
        </activity>
        <activity android:name=".activity.ScreenShotActivity">
        </activity>
        <activity android:name=".qqalbum.AlbumActivity">
        </activity>
        <activity android:name=".activity.ViewStubActivity">
        </activity>
        <activity android:name=".activity.NotificationActivity">
        </activity>
    </application>

</manifest>